# Uppgift 1 - Landstatistik
- Ni får ett land tilldelat till er grupp. Börja med att anonymisera kolumnen med idrottarnas namn med
hashfunktionen SHA-256.
- Undersök därefter hur det gått för landet i OS genom tiderna. Visualisera exempelvis:
    - de sporter landet fått flest medaljer i
    - antal medaljer per OS
    - histogram över åldrar  
  
Skapa fler plots för att visualisera flera aspekter kring ert land och dess sportprestationer i OS.

### Grupp Frankrike:
#### Våra frågeställningar:
        1. Vilken eller vilka sporter har Frankrike varit mest framgångsrikt i?
        2. Har Frankrike varit mest framgångsrikt i sommar eller vinter OS?
        3. Finns det någon tid i historien som kan sägas vara Frankrikes storhetstid i OS?
        4. Vilket var Frankrikes bästa OS?
        5. Vilka sporter har Frankrike varit sämst i? Finns det någon sport de inte fått medalj i, tex?
        6. Hur ser åldersfördelningen ut för Frankrike genom åren?

#### Diagram 1 (Arsen):
- Barplot med alla åren på x-axeln
- Antal medaljer för Frankrike, uppdelat på guld, silver och brons på y-axeln. "Stacked bar plot", dvs bar'sen ovanpå varandra.
- Gärna att man kan kolla på sommar-OS och vinter-OS separat, men också summerat.
    - Kanske bäst göra en plot för sommar-OS och en för vinter-OS?
- En annan plot med totala antalet medaljer som delats ut per OS.
- Nytt förslag: Addera en plot med Frankrikes andel av totala antalet medaljer?

Svarar på frågorna: 2, 3, 4

#### Diagram 2 (Asajad):
- Frankrikes top 5 eller 10 sportgrenar, rankade baserat på antal medaljer.
- Gärna uppdelat på sommar-OS och vinter-OS, på något sätt.

Svarar på frågorna: 1, 2

#### Diagram 3 (Asajad):
- Histogram över åldersfördelningen genom åren.
- Ålders-bins på x-axeln, antal deltagare på y-axeln
- Animation frame, för att gå igenom alla OS.
- Idé: dela upp kvinnor och män?

- Svarar på fråga: 6

In [1]:
import hashlib as hl
import pandas as pd
import plotly_express as px
athlete_events = pd.read_csv("./Data/athlete_events.csv")

In [2]:
filter_france = athlete_events["NOC"] == "FRA" 
france = athlete_events[filter_france] # New DF france 
france.reset_index(drop=True, inplace=True) # set new idx
france.head(2)

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,34,Jamale (Djamel-) Aarrass (Ahrass-),M,30.0,187.0,76.0,France,FRA,2012 Summer,2012,Summer,London,Athletics,"Athletics Men's 1,500 metres",NaN
1,52,Patrick Abada,M,22.0,189.0,80.0,France,FRA,1976 Summer,1976,Summer,Montreal,Athletics,Athletics Men's Pole Vault,NaN

In [6]:
import hashlib as hl  
france.loc[:, "Name"] = france.loc[:, "Name"].apply(lambda name: hl.sha256(name.encode()).hexdigest()) 
france.head(3)

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,34,2a905f1925c9db4fc9301d6729351f9c2b001dcf21e96c...,M,30.0,187.0,76.0,France,FRA,2012 Summer,2012,Summer,London,Athletics,"Athletics Men's 1,500 metres",NaN
1,52,680e545445d692de1cc3af54780ea24c94e83ae937b195...,M,22.0,189.0,80.0,France,FRA,1976 Summer,1976,Summer,Montreal,Athletics,Athletics Men's Pole Vault,NaN
2,56,eecdc613190c9d16cbebbf2c4a2ba7addc4138e6f1bd1d...,M,21.0,NaN,NaN,France,FRA,1956 Summer,1956,Summer,Melbourne,Cycling,"Cycling Men's Road Race, Individual",NaN